// Custom style...

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-secondary, .btn-secondary:hover, .btn-secondary:active {
  color: #fff;
}

.form-label {
  margin-bottom: 0.4rem;
  font-weight: 500;
}


//Landings
.landing-promo{
    background-color: white;

    .container{
        max-width: 1190px;
    }

    h3{
        font-family: "Aleo", serif;
        font-style: italic;
    }

    h4{
        font-family: "Aleo", serif;
        font-style: italic;
    }

    p{
        line-height: 17px;
        color: #334233;
        font-family: "Omnes-Regular", sans-serif;
    }

    label{
        color: #334233;
        font-family: "Omnes-Regular", sans-serif;
    }

    .form-check-input:checked {
        background-color: #309d3c;
        border-color: #309d3c;
    }

}

.listcardmenus{
    background: #f0efeb;
    margin-top: -22px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.titmenusm{
    margin-top: 18px !important;

    .iconcalendar-ms{
        width: 32px;
        margin-top: -7px;
        margin-right: 7px;
    }

    b{
        font-size: 17px;
        font-weight: bold;
    }

}

.remove-menu{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px 2px;
    box-shadow: 0px 0px 10px 0px #00000066;

    i{
        font-size: 22px;
        line-height: 24px;
    }
}

#add-menu{
    position: relative;
    z-index: 999999;
    margin-top: -58px;
    padding: 4px 6px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 41%);

    i{
        font-size: 25px;
        line-height: 29px;
    }
}

.overlay-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Encima de todo */
  }

.healthplans{

    .standard-personalized{
        background: #fddace;
        padding: 10px 10px;
    }

    .reduce-mantain{
        margin-left: 40px;
        background: #f1f8e0;
        padding: 10px 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h2{
        background: #f8764b;
        font-size: 20px;
        color: white;
        border-radius: 10px 10px 0px 0px;
        padding: 10px 15px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-family: "Aleo", serif;
        font-style: italic;
        font-size: 18px;
        color: #f8764b;
        font-weight: bold;
    }
}

.listmenusemanal{
    padding-right: 50px;
    padding-left: 50px;

    .slick-arrow{

        line-height: 17px;
        font-size: 15px;
        font-style: normal;
        color: #334233;
        z-index: 1;

        &:hover{
            color: #309d3c;
        }

        &:before{
            color: #999999;
            width: 50px;
            height: 50px;
        }

    }

    .slick-prev{
        margin-left: 25px;
        &:before{
            content: url('/images/landing/chevron-left.svg');
        }
    }

    .slick-next{
        margin-right: 60px;
        &:before{
            content: url('/images/landing/chevron-right.svg');
        }
    }

    .slick-slide{
        padding: 0px 10px;
    }

    .cardmenu{
        border: 1px solid #cbc7b7;
        border-radius: 10px;
        background: #ffffff;

        .cardmenu-header{
            padding: 10px 15px;
            border-radius: 10px 10px 0px 0px;

            h4{
                font-size: 15px;
                font-weight: bold;
                color: white;
                text-align: center;
                margin-bottom: 0px;
            }
        }

        .cardmenu-body{

            table{
                width: 100%;
                tr{
                    border-bottom: 1px solid #cbc7b7;
                    &:last-child{
                        border-bottom: 0px;
                    }
                }

                td{
                    padding: 9px 9px;
                    font-family: "Omnes-Regular", sans-serif;
                    font-size: 12px;
                    line-height: 15px;
                    color: #334233;

                    img{
                        width: 70px;
                        border-radius: 50%;
                    }

                    h5{
                        font-size: 17px;
                        font-weight: bold;
                        font-family: "Aleo", serif;
                        margin-bottom: 2px;
                        font-style: italic;
                    }

                    h6{
                        font-size: 16px;
                        font-weight: bold;
                        color: #394739;
                        margin-bottom: 0px;
                    }

                    p{
                        font-size: 15px;
                        margin-bottom: 0px;
                        color: #394739;
                    }
                }
            }
        }
    }

}

.card_mov_logo{
    margin-left: 30px;
    margin-right: 30px;
    background: #ffffff;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 31%);

    img{
        width: 185px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
}

.sub_ecc{
    font-size: 20px;
    font-family: "Aleo", serif;
    font-style: italic;
    display: block;
    color: #f8764b;
    font-weight: bold;
    margin-bottom: -19px;
}

.sub_adp{
    font-size: 45px;
    font-family: "Ballet Harmony", serif;
    font-style: italic;
    display: block;
    color: #f8764b;
}

.cb_imgmoto{
    max-width: 200px;
}

.prod_servcard{
    background: #f1f0ec;
    padding: 20px 15px;
    border: 1px solid #cbc7b7;

    &:before{
        content: "";
        position: absolute;
        width: 53px;
        height: 10px;
        background: #f8764b;
        z-index: 1;
        border-radius: 10px;
        margin-top: -26px;
    }

    h4{
        font-size: 15px;
        font-weight: bold;
        color: #309d3c;
    }

    label{
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;
    }

    input[type="radio"]{
        margin-right: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
}

#payment_yape, #payment_plin, #payment_pos, #payment_transferencia{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.infopago{
    font-family: "Omnes-Regular", sans-serif;
    border-radius: 7px;
    text-align: center;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.59);
    border: 1px solid rgba(0, 0, 0, 0.3098039216);
    margin-right: 0px;
    padding: 8px 12px 6px 12px;
    cursor: text;
    line-height: 17px;
}

.datos_pago{
    box-shadow: 0px 0px 15px 0px #00000014;
    border-radius: 10px;
    padding: 8px 12px;

    h5{
        font-family: "Aleo", serif;
        font-weight: bold;
        color: white;
    }

    p{
        font-family: "Omnes-Regular", sans-serif;
        font-size: 14px;
        line-height: 15px;
        color: white;
    }
}

.cardyape{
    background: #7a3494;

}

.cardplin{
    background: #2461b7;
}

.cardpos{
    background: #3ca348;
}

.cardtransferencia{
    background: #f8764b;
}

.card-blog{
    background: #f1f0ec;
    padding: 20px 15px;
    border: 1px solid #cbc7b7;
    border-radius: 10px;

    p{
        text-align: center;
        font-size: 16px;
        max-width: 491px;
        margin: 0 auto;
        line-height: 20px;
        color: #334233;
    }

    a{
        color: #309d3c;
        font-weight: bold;
        text-decoration: underline;
    }
}

.list_district{
    list-style-type: none;
    margin-left: -2rem;
    li{
        font-family: 'Omnes-Regular', sans-serif;
        color: #334233;
    font-size: 15px;
    line-height: 18px;

        &:before{
            content: "•";
            color: #3d9e3b;
            margin-right: 9px;
        }

    }
}

.tit_acc{
    font-size: 38px;
    color: #309d3c;
    font-weight: bold;
}

.tit_dcb{
    font-size: 45px;
    color: #309d3c;
    font-weight: bold;
}

.img-deli-person{
    max-width: 536px;
    margin-left: -56px;
}

.menu-img-3{
    max-width: 100%;
}

.img-text-saludable{
    max-width: 540px;
}

.hmbanner{
    background-size: cover;
    border-top: 10px solid #f7774a;
}

.hmbanner .container{
    margin-top: -10px;
}

.hmmenucontent{
    background-color: #f1f0ec;
}

.bg-marco-img{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    width: 100%;
}

.cardmarco{
    max-width: 460px;
    margin: -215px auto;
    position: relative;

    .imagen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; /* Fondo */
    }

    .contenido {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
        z-index: 2; /* Encima */

        img{
            width: 80px;
            margin-bottom: 5px;
        }

        h3{
            font-size: 32px;
            font-weight: bold;
            color: #f8764b;
            margin-bottom: -3px;
        }

        p{
            line-height: 17px;
            font-size: 15px;
        }
    }
}


.hmfooter{
    background-color: #309d3c;
    color: white;
    padding: 20px 0px;
    background-repeat: no-repeat;
    background-position-x: 262px;

    .ftlogo{

        img{
            width: 140px;
        }
    }

    .ftcontact{
        font-size: 18px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 20px 0px;
    }

    .datosinfo{

        img{
            width: 26px;
            margin-right: 10px;
            margin-top: -6px;
        }

        span {
            font-size: 15px;
            font-family: 'Omnes-Regular', sans-serif;
        }
    }
}

.rwtb_plan{

    h4{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    p{
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 5px;
    }
}

#successModalLabel{
    font-size: 20px;
    font-weight: bold;
    color: #309d3c;
}

.img-gracias-modal{
    width: 115px;
    display: block;
    margin: 0 auto;
    margin-bottom: 13px;
}

.slc_mnusema{
    font-family: "Aleo", serif;
    background: #309d3c;
    color: white;
    font-weight: bold;
    padding: 10px 100px 10px 0px;
    text-decoration: none;
    border-radius: 25px;
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
    display: inline-block;
    width: 410px;
    position: relative;

    &:hover{
        background: #309d3c;
        color: white;
    }

    &:before{
        content: "";
        background-image: url('/images/landing/fle-icon.svg');
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 0;
        margin-top: 2px;
        right: 20px;
    }

}

.tit_pasos{
    color: #334233;
    font-size: 20px;
    font-weight: bold;
}

.num-paso{
    font-family: "Aleo", serif;
    color: #334233;
    font-size: 80px;
    line-height: 130px;
    font-weight: bold;
    display: inline-grid;
    font-style: italic;
    height: 125px;
    width: 125px;

    &:before{
        content: "";
        background-image: url('/images/landing/bg-pasos-numero.svg');
        position: absolute;
        width: 125px;
        height: 125px;
        z-index: -1;
    }
}

.vertical-line{
    display: inline-block;
    width: 1px;
    background-color: #334233;
    margin-bottom: -6px;
}

.paso{

    p{
        width: 155px;
        margin: 0 auto;
    }
}

.paso-1 .vertical-line{
    height: 270px;
}

.paso-2 .vertical-line{
    height: 50px;
}

.paso-3 .vertical-line{
    height: 250px;
}

.tit_stp{
    color: #f8764b;
    font-weight: bold;
    font-size: 35px;
}

.rwtb_plan img{
    border-radius: 15px;
    border: solid 1px #ffffff03;
    box-shadow: 0px 0px 10px 0px #e8d682a3;
}

.table-listdias{
    width: 100%;
    border-collapse: collapse;

    thead{
        background-color: #f8764b;
        color: white;

        th{
            padding: 3px;
            text-align: center;
            font-size: 12px;
        }

        th:first-child{
            border-radius: 10px 0px 0px 0px;
        }

        th:last-child{
            border-radius: 0px 10px 0px 0px;
        }

    }

    tbody{
        background-color: #f1f0ec;

        tr{
            transition: 0.4s;

            &:hover{
                background-color: #e9e8e5;
                color: #f8764b;
            }

            td{
                padding: 1px;
                font-family: 'Omnes-Regular', sans-serif;
                border: 1px solid #cdcabb;
                text-align: center;
                font-size: 12px;
                color: #334233;

                label{
                    width: 100px;

                }

                input[type="radio"]{
                    margin-right: 5px;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                    width: 16px;
                    height: 16px;
                }

            }
        }

        tr:last-child{

            td:first-child{
                border-radius: 0px 0px 0px 10px;
                border-bottom: 0px;
                border-left: 0px;
            }

            td:last-child{
                border-radius: 0px 0px 10px 0px;
                border-bottom: 0;
                border-right: 0px;
            }
        }

    }
}

.text_pagar{
    color: #334233;
}

.payment_yape{
    b{
        color: #7a3494;
        cursor: pointer;
    }
}

.payment_plin{
    b{
        color: #2461b7;
        cursor: pointer;
    }
}

.payment_pos{
    b{
        color: #3ca348;
        cursor: pointer;
    }
}

.payment_transferencia{
    b{
        color: #f8764b;
        cursor: pointer;
    }
}


.btn-solicitar{
    background-color: #309d3c;
    color: white;
    border: 1px solid #309d3c;
    padding: 5px 40px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    transition: 0.4s;
}

.float-whatsapp{
    position: fixed;
    bottom: 5%;
    right: 1%;
    z-index: 9999;
    text-decoration: none;
    text-align: center;
    transition: bottom 0.3s;

    span{
        display: block;
        background-color: white;
        color: #309d3c;
        margin-bottom: 7px;
        font-weight: bold;
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 13px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    img{
        width: 60px;
    }
}



/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */

// Change this breakpoint if you change the breakpoint of the navbar
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.opcsmenu i{
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: -10px;
}

.opcsmenu:hover i{
  animation: crescendo 1.2s alternate;
}

@keyframes crescendo {
  0%   {transform: scale(1.1);}
  50%   {transform: scale(1.4);}
  100% {transform: scale(1);}
}

.opcsmenu span{
  font-weight: 500;
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.bg-indigo {
  background-color: #6574cd !important;
}

.h-5 {
  height: 1.25rem !important;
}

.w-5 {
  height: 1.25rem !important;
}

.flex-1 {
  flex: 1 1 0%;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

@media (max-width: 525px) {
  .cardmarco   {
    margin: -110px auto;
  }

    .cardmarco .contenido {
        padding-left: 15px;
        padding-right: 15px;

        img {
        width: 50px;
        }

        h3{
            font-size: 20px;
        }

        p {
            line-height: 16px;
        font-size: 12px;
        }
    }

    .tit_acc {
        font-size: 36px;
        line-height: 32px;
    }

    .tit_dcb {
        font-size: 30px;
    }

    .slc_mnusema {
        padding: 8px 50px 8px 0px;
        font-size: 14px;
        width: 100%;
    }

    .slc_mnusema:before {
        width: 17px;
        height: 17px;
        margin-top: 3px;
    }

    .num-paso{
        font-size: 45px;
        line-height: 75px;
        height: 65px;
        width: 65px;

        &::before{
            width: 65px;
            height: 65px;
        }
    }

    .paso{

        p{
            width: 85px;
            font-size: 11px;
            line-height: 11px;
        }
    }

    .cob_mb-deliv{

        img{
            width: 80px;
        }

        h4{
            color: #309d3c;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
        }

        p{
            font-size: 12px;
            line-height: 14px;
        }
    }

    .list_district {
        display: ruby;
    }

    .tit_stp {
        font-size: 32px;
    }

    .btn-solicitar {
        width: 100%;
    }

    .hmfooter {
        background-position-x: -50px;
        .ftcontact {
            border-top: 0px solid white;
            border-bottom: 0px solid white;
            padding: 0px 0px;
        }
    }


}

.bg-light {
  background: #f3f4f6 !important;
}

.card {
  border-radius: 0.475rem;
  border: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f9fafb;
  border-top: 0;
}

.card-footer:last-child {
  border-radius: 0 0 0.475rem 0.475rem;
}

.dropdown-menu {
  width: 200px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}

.dropdown-divider {
  color: rgb(0 0 0 / 17%);
}

.small {
  font-size: .875rem !important;
}

.navbar .profilenav img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.navbar .profilenav .dropdown-item i {
  font-size: 20px;
    margin-right: 5px;
}

.profilenav .nav-link, .profilenav .nav-link:hover, .profilenav .nav-link:active{
  color:white;
}

.titlepage{
  color: $vcol1;
}

.welcmbox h1{
  font-size: 3.2rem;
  color: $vcol1;
}

.welcmbox img{

}

.welcmbox p{
  color: $vcol3;
  font-size: 1.1rem;
}

.cardofday{
  background: $vcol1;
  border-radius: 10px;
}

.cardofday .imgmotor{
  z-index: 2;
}

.cardofday .card-body{
  background: white;
  border-radius: 10px;
}

.cardofday .card-title{
 color:$vcol2
}

.cardofday .moticon{
  width: 125px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.bxdays{
  border-radius: 10px;
  background: #f58201;
}

.bxstarday{
  border-radius: 10px;
  background: #8ec500;
}

.bxlistday{
  border-radius: 10px;
  background: #8ec500;
}

.bxlistday .dvtable{
  background: white;
  border-radius: 10px;
}

.divquantity{
  text-align: -webkit-center;
}

.divquantity input{
  width: 65px;
  text-align: center;
}

.trdayactive{
    box-shadow: 0px 0px 20px 0px rgb(142 197 0 / 45%);
    border-radius: 10px;
}

.trdayactive td:last-child{
  background: rgb(142 197 0 / 37%);
  border-radius: 0px 10px 10px 0px;
}

.trdayactive td{
  background: rgb(142 197 0 / 37%);
}

.trdayactive td:first-child{
  background: rgb(142 197 0 / 37%);
  border-radius: 10px 0px 0px 10px;
}

.infospan{
  display: block;
  background: #efeeee;
  padding: 5px;
  border-radius: 5px;
}

.datedelday{
    background: #8ec500;
    border-radius: 5px;
    padding: 0px 6px;
    color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(142 197 0 / 44%);
    box-shadow: 0px 0px 20px 0px rgb(142 197 0 / 44%);
    font-weight: 500;
}

.btnaddprogprice{
    padding: 0px 2px;
    box-shadow: 0px 0px 20px 0px rgb(156 199 0 / 32%);
}

.btnaddprogprice i{
  font-size: 24px;
    line-height: 26px;
}

.optionshome{

  a{
    text-align: center;
    border-radius: 0.475rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    text-decoration: none;

    i{
      font-size: 3rem;
      transition-duration: 0.4s;
    }

    span{
      font-size: 1.3rem;
      font-weight: 500;
      color:$secondary;
    }

    &:hover{

      i{
        color:#f58201;
      }

    }

  }

}
