// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$vcol1 : #f58201;
$vcol2 : #9cc600;
$vcol3 : #747474;


$primary:       $vcol2;
$secondary:     $vcol1;




